.main{
    max-width: 1100px;
    margin: 0px auto;
}

.nav{
    background-color: $grisClair;
}

.headerLogo{
    font-size: 45px;
}

.contentTitle{
    background-color: lighten($grisClair,10%);
    padding:20px 0px;
    text-align: center;
}

.content{
    padding: 20px 0px;
    min-height: 500px;
}