.main{
    max-width: 1100px;
    margin: 0px auto;
}

.nav{
    background-color: $grisClair;
}

.header{
    padding: 20px;
    background-color: lighten($grisClair,15%);
}

.headerLogo{
    font-size: 45px;
    float: left;
}

.headerReseaux{
    padding:7px 0px 7px 20px;
    float: right;
    a{
        display: inline-block;
        background-color: $grisClair;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height:35px;
        @include border-radius(50%);
    }
}

.headerNewsletter{
    float: right;
    padding:17px 0px;
    font-size:14px;
}

.newsletter{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index:100;
    background-color: $grisClair;
    @include transition-property(transform);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease);
    @include transform(translateY(-100%));
    &.active{
        @include transform(translateY(0px));
    }
    .inner{
        padding:50px 0px;
        max-width: 1100px;
        margin: 0px auto;
    }
}

.newsletterClose{
    position: absolute;
    top: 0px;
    right: 0px;
    padding:20px;
    cursor: pointer;
}

.contentTitle{
    background-color: lighten($grisClair,10%);
    padding:20px 0px;
    text-align: center;
}

.content{
    padding: 20px 0px;
    min-height: 500px;
}