{% extends "GlobalBundle:Client/Layout:layout.html.twig" %}

{% block metaTitle %}Mon compte{% endblock %}

{% block content %}
    <p>Informations sur le compte de l'utilisateur</p>

    <a href="{{ path('logout') }}">Se deconnecter</a>
{% endblock %}