#breadcrumb{
    padding-bottom: 20px;
    width: 100%;
    ul{
        list-style: none;
        border-bottom:1px solid $grisClair;
        padding-bottom: 5px;
        li{
            display: inline-block;
            font-size: 14px;
            .divider{
                padding: 0px 4px;
            }
        }
    }
}