{% extends "GlobalBundle:Client/Layout:layout.html.twig" %}

{% block metaTitle %}{{ 'accueil.client.metatitle'|trans }}{% endblock %}
{% block metaDescription %}{{ 'accueil.client.metadescription'|trans }}{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium unde nostrum, dolorem et error ducimus labore, minus recusandae aut consequuntur quisquam. Incidunt vitae qui modi magnam ex molestias et reiciendis cum minima, ab quae minus, nostrum saepe excepturi praesentium veniam nulla officiis fugiat! Nam temporibus voluptatem a, nisi explicabo quos voluptatibus architecto ullam facilis odio deserunt debitis in, consectetur delectus voluptas minima omnis sit iure minus magni aut ipsa consequatur impedit. Eius obcaecati necessitatibus cumque vero</p>
{% endblock %}