<div class="aboutimage">
    <div class="aboutimageLeft"> </div>

    <div class="aboutimageRight">
        <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ipsa molestiae nulla pariatur provident! Accusamus aliquam aperiam atque cumque, delectus dolore enim magni modi nam natus necessitatibus nulla officia praesentium quas quasi quos repellat sint sit sunt, tempora, temporibus voluptatem.</p>
        <a href="#" class="btn" data-btn="En savoir +">En savoir +</a>
    </div>

    <div class="clear"></div>
</div>