<header class="header">
    <div class="inner">
        <a href="{{ path('client_page_index') }}" class="headerLogo"><img src="{{ asset('img/layout/logo.svg') }}"></a>

        <div class="headerReseaux">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>

        <a href="#" class="headerNewsletter"><i class="fa fa-newspaper-o"></i> Newsletter</a>

        <div class="clear"></div>
    </div>
</header>