.main{
    padding:0px 0px 0px 0px;
    margin: 0px auto;
}

.inner{
    max-width: 1170px;
    margin: 0px auto;
}

.header{
    background-color: $blanc;
}

.headerLeft{
    float: left;
    width:20%;
}

.headerLogo{
    a{
        @include transition-property(opacity);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease);
        padding: 30px 0px;
        display: block;
        opacity:1;
        &:hover{
            opacity: 0.6;
        }
    }
}

.headerCenter{
    float: left;
    width: 60%;
    text-align: center;
}

.headerRight{
    float:left;
    width: 20%;
    text-align: right;
}

.headerReseaux{
    display: inline-block;
    padding: 30px 0px;
    a{
        @include transition-property(opacity);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease);
        color:$gris;
        font-size: 19px;
        display: inline-block;
        padding: 0px 7px;
        opacity: 1;
        &:hover{
            opacity:0.6;
        }
    }
}

.headerPictos{
    display: inline-block;
    padding:30px 0px 30px 30px;
    a{
        @include transition-property(opacity);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease);
        color: $gris;
        font-size:19px;
        display: inline-block;
        opacity: 1;
        &:hover{
            opacity:0.6;
        }
    }
}

.navigation{
    padding:26px 0px 22px 0px;
}

.content{
    .inner{
        padding:30px 0px;
    }
}

.contentTitle{
    h1{
        padding-top: 30px;
    }
}

.newsletter{
    position: fixed;
    z-index:100;
    left: 0px;
    right: 0px;
    top: 0px;
    @include transition-property(transform);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease-in-out);
    @include transform(translateY(-100%));
    &.active{
        @include transform(translateY(0px));
        .inner{
            @include transition-delay(0.4s);
            opacity:1;
        }
    }
    .inner{
        @include transition-property(opacity);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in-out);
        padding:65px 0px;
        max-width: 500px;
        opacity:0;
    }

    label{
        color: $blanc;
    }

    h2{
        font-size: 40px;
        line-height: 40px;
        color: $blanc;
        font-weight: 400;
        text-align: center;
        margin-bottom: 30px;
    }
}

.newsletterWave{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    fill: $gris;
    z-index:-1;
}

.newsletterClose{
    position: absolute;
    right: 0px;
    top: 0px;
    color: $blanc;
    cursor: pointer;
    padding:30px;
}