$gris: #95a5a6;
$grisClair: #bdc3c7;
$grisFonce: #34495e;
$grisNoir: #2c3e50;
$rouge: #e74c3c;
$vert: #27ae60;
$blanc:#ffffff;

/* Partage */
$facebook: #4267b2;
$twitter: #1da1f2;
$linkedin: #283e4a;